.footerlink {
    padding-top: 30px;
    padding-bottom: 10px;
    list-style-type: none;
    display: inline-block;
 
}

.color-nav {
    background-color: #111013;
    min-height: 0px;
}

.footer-nav {
    background-color: #111013;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.jumbostyle {
    color:'white';
    text-shadow: "-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000";
}

.jumbotext {
    color:'white';
    font-size: '18px';
    text-shadow: "-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000";
}

.a {
    color: #FFF;
}

.a:hover {
    color: #FFF;
    text-decoration: none;
    cursor: url(chair.png), auto;
}